{% extends 'themes/bare-login-theme.html' %}
{% from 'macros.html' import render_field %}

{% block centered_form %}

<h1 class='card-title' style='margin-bottom:30px;'>RESET PASSWORD</h1>

<form action="{{url_for('auth.confirm_reset', token=token, username=username)}}" method='post' name='form'>
	{{ form.hidden_tag() }}

	{{ render_field(form.password, pattern=".{5,}", placeholder='password', error_msg='Must be more than 5 characters') }}

	{{ render_field(form.password2, pattern=".{5,}", placeholder='re-enter password', error_msg='') }}

	<button type='submit' class='btn btn-outline-primary btn-block'>SET PASSWORD</button>
</form>

{% endblock %}
