
{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
		{% for category, message in messages %}
			{% if category == 'success' %}
				<div class='alert alert-success alert-dismissable fade show' role='alert'>
			{% elif category == 'error' %}
				<div class='alert alert-danger alert-dismissable fade show' role='alert'>
			{% else %}
				<div class='alert alert-info alert-dismissable fade show' role='alert'>
			{% endif %}

				<button type='button' class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>

				<strong>{{ message }}</strong>
			</div>
		{% endfor %}
	{% endif %}
{% endwith %}
