{% extends 'themes/icon-nav-theme.html' %}
{% from 'macros.html' import render_field %}


{% block content %}
<div class='container'>

    <div class='row justify-content-md-center'>
        <div class='col-lg-10'>
            <h1 style='margin-bottom:30px;'>User Settings</h1>

            {% include 'main/flash.html' %}

            <div class='hr-divider'>
				<h2 class='hr-divider-content hr-divider-heading'>
					Personal Profile Settings
				</h2>
			</div>

			<form action="{{url_for('main.change_settings')}}" method='post' name='form'>
				{{ form.hidden_tag() }}

				{{ render_field(form.username, label=True, pattern='.{3,}') }}
				{{ render_field(form.old_password, label=True, pattern='.{5,}', error_msg='Must be more than 5 characters') }}
				{{ render_field(form.password, label=True, pattern='.{5,}', error_msg='Must be at least 5 characters')}}
				{{ render_field(form.password2, label=True, pattern='{5,}')}}

				<button type='submit' class='btn btn-outline-primary btn-block'>UPDATE SETTINGS</button>

			</form>


			<div class='hr-divider' style='margin-top:40px;'>
				<h2 class='hr-divider-content hr-divider-heading'>
					Email Subscriptions
				</h2>
			</div>


        </div>
    </div>
</div>

{% endblock %}
