
<footer class='footer dark-footer mt-4'>
	<div class='container-fluid py-3'>
		<div class='row text-muted' style='text-align:left;'>

			<div class='col-lg-3 col-md-3 col-sm-6 footer-group'>
				<h5 class='footer-heading'>DOCUMENTATION</h5>
				<nav class='nav flex-column'>
					<a class='nav-link footer-link' href="{{url_for('main.api_docs')}}">API</a>
					<!--<a class='nav-link footer-link' href="#">Features</a>-->
				</nav>
			</div>

			<div class='col-lg-3 col-md-3 col-sm-6 footer-group'>
				<h5 class='footer-heading'>PROJECT</h5>
				<nav class='nav flex-column'>
					<a class='nav-link footer-link' href="https://tatacenter.mit.edu/portfolio/air-pollution-sensors/">About</a>
					<a class='nav-link footer-link' href="#">Blog</a>
				</nav>
			</div>

			<div class='col-lg-3 col-md-3 col-sm-6 footer-group'>
				<h5 class='footer-heading'>HELP</h5>
				<nav class='nav flex-column'>
					<!--<a class='nav-link footer-link' href="#">Network Status</a>-->
					<!--<a class='nav-link footer-link' href="#">FAQ</a>-->
					<a class='nav-link footer-link' href="https://gitreports.com/issue/dhhagan/web-tata">Submit an Issue</a>
				</nav>
			</div>

			<div class='col-lg-3 col-md-3 col-sm-6 footer-group'>
				<h5 class='footer-heading'>SCIENCE</h5>
				<nav class='nav flex-column'>
					<a class='nav-link footer-link' href="#">Questions</a>
					<a class='nav-link footer-link' href="#">Projects</a>
					<a class='nav-link footer-link' href="#">Research</a>
				</nav>
			</div>

			<div class='col-12 footer-legend'>
				<span class='text-muted'>Copyright &copy; 2015-2018. Tata Center Air Quality Project.</span>
			</div>

		</div>
	</div>
</footer>
